<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="saurabhkumbhar.GroceryTrackerAdminPanel.Homepage"/>
      <class name="saurabhkumbhar.GroceryTrackerAdminPanel.Login"/>
      <class name="saurabhkumbhar.GroceryTrackerAdminPanel.User"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
